:root {
  --gray-color: #e9e9e9;
  --dark-gray: #979797;
  --white-color: #ffffff;
  --black-color: rgba(0, 0, 0, 1);
  --green-color: #63da46;
  --reed-color: #f24d4d;
  --yellow-color: rgba(236, 178, 53, 1);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--white-color);
  margin: 0;
}

/* font */

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
}

/* reset */

h1,
h2,
h3,
h4,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

select {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--black-color);
  position: relative;
  transition: color 0.3s ease;
  width: fit-content;
}

.link-hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  bottom: 0;
  display: inline-block;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.header-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--black-color);
  position: absolute;
  bottom: 0;
  display: inline-block;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 10px;
}

.header-link:hover::after,
.link-hover:hover::after {
  transform: scaleX(1);
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1280px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 1440px;
  }
}

/* header */

.header {
  padding: 16px 0;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: var(--gray-color);
  padding: 14px 27px;
  color: var(--black-color);
  width: fit-content;
  display: block;
}
.logo:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 var(--yellow-color);
}
.nav-list {
  display: none;
  font-size: 14px;
}

@media screen and (min-width: 1440px) {
  .nav-list {
    display: flex;
    color: var(--black-color);
    gap: 50px;
  }
}

.select-product {
  font-family: "Montserrat";
  display: flex;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

.wrapper-search {
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .wrapper-search {
    position: relative;
  }
}
.input-search {
  display: none;
}
@media screen and (min-width: 768px) {
  .input-search {
    width: 298px;
    display: flex;
    border: none;
    outline: none;
    padding: 12px 9px;
    border-bottom: 2px solid #8e8e8e;
  }
}

@media screen and (min-width: 768px) {
  .button-search {
    position: absolute;
    bottom: 8px;
    right: 0px;
  }
}

.search-icon {
  width: 24px;
  height: 24px;
  stroke: var(--black-color);
  fill: transparent;
}

.select-language {
  cursor: pointer;
  display: none;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 1440px) {
  .select-language {
    display: flex;
    border: none;
    outline: none;
    font-size: 14px;
  }
}

.wrapper-basket {
  display: flex;
  align-items: center;
  color: var(--black-color);
}
.amount-purchase {
  width: 24px;
  height: 24px;
  margin-left: 6px;
  color: var(--black-color);
  border-radius: 100%;
  border: 1px solid var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .amount-purchase {
    color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
  }
}
.burger-menu {
  width: 49px;
  height: 14px;
}
@media screen and (min-width: 1440px) {
  .burger-menu {
    display: none;
  }
}
.user-profile {
  display: none;
}

@media screen and (min-width: 1440px) {
  .user-profile {
    display: flex;
  }
}
.user-icon {
  stroke: var(--black-color);
  fill: transparent;
  width: 20px;
  height: 20px;
}

/* hero section */
.hero {
  background-image: url("../img/hero/hero.avif");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: fill;
  background-size: cover;
}

@media only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url("../img/hero/hero@2x.avif");
  }
}
/* Swiper */

.swiper-slide {
  width: 305px;
}
@media screen and (min-width: 1440px) {
  .swiper-pagination {
    margin-bottom: 112px !important;
  }
}
.swiper-pagination span:last-child {
  margin: 0 !important;
}
.swiper-pagination-bullet {
  border: 2px solid var(--white-color);
  background: transparent;
  opacity: 1;
  margin: 0 !important;
  margin-right: 16px !important;
}
.swiper-pagination-bullet-active {
  background: var(--white-color);
}

.wrapper-hero {
  padding-top: 188px;
  padding-bottom: 154px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 305px;
}
@media screen and (min-width: 1440px) {
  .wrapper-hero {
    padding-top: 292px;
    padding-bottom: 367px;
    width: 623px;
  }
}
.text-span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 17px; 
  letter-spacing: 0.18em;
}
@media screen and (min-width: 1440px) {
  .text-span {
    font-size: 18px;
  }
}
.title {
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 95px;
  width: 305px;
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 36px;
    margin-bottom: 68px;
    width: 623px;
  }
}

.button {
  background: var(--white-color);
  padding: 12px 61px;
  font-size: 14px;
  font-weight: 500;

  transition: color, background-color, 0.3s ease, visibility 0s ease 0.3s;
}
@media screen and (min-width: 1440px) {
  .button {
    height: 58px;
  }
}
.button:hover {
  background: var(--black-color);
  color: var(--white-color);
  transition: color, background-color, 0.3s ease, visibility 0s ease 0.3s;
}
/* section currency */
.currency {
  padding: 26px 0 26px 0;
}

@media screen and (min-width: 768px) {
  .currency {
    padding: 46px 0 46px 0;
  }
}
.currency-list {
  display: grid;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .currency-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .currency-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
  }
}
.item-list {
  position: relative;
}
.images-currency {
  width: 100%;
  height: 195px;
}
@media screen and (min-width: 1440px) {
  .images-currency {
  
    height: 466px;
  }
}
@media screen and (min-width: 1920px) {
  .images-currency {
    width: 474px;
    height: 466px;
  }
}
.text-currency {
  position: absolute;
  width: 100%;
  height: auto;
  top: 20%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .text-currency {
    top: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .text-currency {
    top: 40%;
  }
}
.title-currency {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  width: 305px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
  .title-currency {
    font-size: 28px;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 1920px) {
  .title-currency {
    font-size: 36px;
    width: 414px;
    margin-bottom: 85px;
  }
}
/* section-offer   */
.section-offer {
  position: relative;
  padding-bottom: 64px;
  width: 100%;
}

.bg-block {
  background-color: var(--black-color);
  height: 305px;
}

@media screen and (min-width: 1440px) {
  .bg-block {
    height: 629px;
  }
}
.wrapper-offer {
  position: absolute;
  top: 0.5%;
  left: 50%;
  transform: translate(-50%, 0.5%);
  z-index: 1;
}
@media screen and (min-width: 1440px) {
  .wrapper-offer {
    top: 2.5%;
    transform: translate(-50%, 2.5%);
  }
}
.subtitle {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  margin-bottom: 32px;
}
.offer-list {
  display: flex;
}
.offer-item {
  position: relative;
}
.image-funt {
  width: 168px;
  height: 284px;
}

@media screen and (min-width: 1440px) {
  .image-funt {
    width: 361px;
    height: 610px;
  }
}
.offer-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 13px 96px 13px;
  bottom: 0px;
  right: 0;
}

@media screen and (min-width: 1440px) {
  .offer-overlay {
    padding: 0 13px 111px 13px;
  }
}
.text-overlay {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
}
@media screen and (min-width: 1440px) {
  .text-overlay {
    font-size: 14px;
  }
}
.subtitle-overlay {
  font-weight: 500;
  font-size: 24px;

  line-height: 1.2;
}
@media screen and (min-width: 1440px) {
  .subtitle-overlay {
    font-size: 36px;
  }
}
.button-show {
  background: var(--yellow-color);
  padding: 25px 46px 25px 16px;
  position: absolute;
  bottom: -50px;
  right: 0;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 9px;
  transition: background-color, color, 0.3s ease, visibility 0s ease 0.3s;
}
.button-show:hover {
  transition: background-color, color, 0.3s ease, visibility 0s ease 0.3s;
  background: var(--black-color);
  color: var(--yellow-color);
}

.button-show svg {
  transition: stroke, 0.3s ease, visibility 0s ease 0.3s;
  stroke: var(--black-color);
  fill: transparent;
  width: 21px;
  height: 10px;
}
.button-show:hover svg {
  transition: stroke, 0.3s ease, visibility 0s ease 0.3s;
  stroke: var(--yellow-color);
}
@media screen and (min-width: 1440px) {
  .button-show {
    padding: 51px 60px 50px 41px;
    gap: 22px;

    font-size: 14px;
  }

  .button-show svg {
    display: flex;
    width: 29px;
    height: 14px;
  }
}

.filter {
  margin-top: 130px;
  color: var(--black-color);
}
@media screen and (min-width: 1440px) {
  .filter {
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 33px;
  }
}

.filter button {
  display: none;
  padding: 0;
  margin: 0;
  height: fit-content;

  background-color: transparent !important;
}
.filter button:first-child {
  display: flex;
  margin: 0 auto 33px auto;
}
@media screen and (min-width: 1440px) {
  .filter button:first-child {
    margin: 0;
  }
  .filter button {
    display: flex;
    justify-content: center;

    color: var(--dark-gray);
    margin-bottom: 0;
    transition: color, 0.3s ease, visibility 0s ease 0.3s;
  }

  .filter button:hover {
    color: var(--black-color);
    transition: color, 0.3s ease, visibility 0s ease 0.3s;
  }
}

.active {
  color: var(--black-color) !important;
  font-weight: 500;
  font-size: 24px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 46px;
}
@media screen and (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
}
@media screen and (min-width: 1920px) {
  .product-list {
    grid-template-columns: repeat(4, 372px);
  }
}
.product-item {
  border: 1px solid var(--gray-color);
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .product-item {
    border: none;
    transition: border, 0.3s ease, visibility 0s ease 0.3s;
  }

  .product-item:hover {
    transition: border, 0.3s ease, visibility 0s ease 0.3s;
    border: 1px solid var(--gray-color);
  }

  .product-item:hover .button-shopping-cart {
    background: var(--black-color);
    transition: background-color, 0.3s ease, visibility 0s ease 0.3s;
  }
}
.product-item img {
  width: 151px;
  height: 168px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1920px) {
  .product-item img {
    width: 345px;
    height: 384px;
  }
}

.product-info {
  padding: 10px;
  width: fit-content;
}
.product-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: var(--black-color);
  margin-bottom: 7px;
}

@media screen and (min-width: 1440px) {
  .product-title {
    width: 259px;
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.product {
  color: var(--green-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 7px;
}
@media screen and (min-width: 1440px) {
  .product {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
.price {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: var(--black-color);
}
@media screen and (min-width: 1440px) {
  .price {
    font-size: 18px;
  }
}

.type-sale {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 32px;
  right: 0;
}
.message-alert {
  padding: 3px 14px;
  color: var(--white-color);
}
.sale {
  background-color: var(--green-color);
}

.new-product {
  background-color: var(--reed-color);
}

.button-show-more {
  border: 1px solid var(--black-color);
  background: var(--white-color);
  padding: 22px 52px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  margin: 0 auto;
  transition: color, background-color, 0.3s ease, visibility 0s ease 0.3s;
}
.button-show-more:hover {
  background: var(--black-color);
  color: var(--white-color);
  transition: color, background-color, 0.3s ease, visibility 0s ease 0.3s;
}
.button-shopping-cart {
  background: var(--black-color);
  padding: 10px;
  width: 34px;
  height: 34px;
  transition: background-color, 0.3s ease, visibility 0s ease 0.3s;
}

@media screen and (min-width: 1440px) {
  .button-shopping-cart {
    background: transparent;
    padding: 10px;
    width: 60px;
    height: 60px;
  }
}
.icon-shopping-cart {
  width: 13px;
  height: 13px;
  fill: var(--white-color);
}
.thumb {
  display: flex;
  justify-content: space-between;
}

/* section blog  */
.section-blog {
  background-color: var(--black-color);
  padding: 43px 0 97px 0;
}

@media screen and (min-width: 1440px) {
  .section-blog {
    padding: 76px 0 123px 0;
  }
}
.title-blog {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;

  margin-bottom: 35px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .title-blog {
    font-size: 36px;
  }
}

.wrapper-blog-list {
  position: relative;
}

@media screen and (min-width: 768px) {
  .blog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}
@media screen and (min-width: 1440px) {
  .blog-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .blog-list li:nth-child(5) {
    grid-area: 2/2/4/4;
  }
}

.blog-list-item {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.wrapper-blog {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 30px 12px;
  display: flex;
  gap: 37px;
  align-items: flex-end;
}
.date {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 2px;
}
@media screen and (min-width: 1440px) {
  .date {
    font-size: 14px;
  }
}
.subtitle-blog {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
@media screen and (min-width: 1440px) {
  .subtitle-blog {
    font-size: 36px;
  }
}
.name-user {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .name-user {
    font-size: 14px;
  }
}
.icon-user {
  stroke: var(--white-color);
  margin-right: 6px;
}
.button-overlay {
  margin-bottom: 15px;
}
.button-overlay svg {
  width: 48px;
  height: 14px;
  display: none;
  stroke: var(--white-color);
  fill: transparent;
  transition: display, 0.3s ease, visibility 0s ease 0.3s;
}

.overlay-block {
  transition: background-color, 0.3s ease, visibility 0s ease 0.3s;
}
.overlay-block:hover {
  background-color: rgba(236, 178, 53, 0.61);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  transition: background-color, 0.3s ease, visibility 0s ease 0.3s;
}
.overlay-block:hover .button-overlay svg {
  display: flex;
  transition: display 0.3s ease, visibility 0s ease 0.3s;
}

/* section-advantages */
.section-advantages {
  padding: 45px 0 54px 0;
}

@media screen and (min-width: 1440px) {
  .section-advantages {
    padding: 148px 0;
  }
}
.advantages-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 14px;
}

@media screen and (min-width: 1440px) {
  .advantages-list {
    display: flex;
    gap: 0;
  }
  .advantages-list li:first-child {
    padding-left: 0;
  }
  .advantages-list li:last-child {
    padding-right: 0;
  }
}

.advantages-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black-color);
}
@media screen and (min-width: 1440px) {
  .advantages-item {
    padding: 30px 64px;
    border-right: 1px solid #c4c4c4;
  }
  .advantages-item:last-child {
    border-right: none;
  }
}

.advantages-item img {
  width: 35px;
  height: 35px;
}
.advantages-item p {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
}

@media screen and (min-width: 1440px) {
  .advantages-item p {
    font-size: 18px;
  }
}

/* section-contact */

.section-contact {
  background-color: var(--yellow-color);
  padding: 94px 0 107px 0;
  background-image: url("../img/decorations/bg-contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 70%;
}

@media screen and (min-width: 1440px) {
  .section-contact {
    padding: 80px 0;
    background-size: auto;
    background-position: 20% 65%;
    background-image: url("../img/decorations/bg-contact-desk.png");
  }
}
.title-contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  text-wrap: wrap;
  width: 222px;
  margin: 0 auto 32px auto;
}

@media screen and (min-width: 1440px) {
  .title-contact {
    margin-bottom: 64px;
    width: 100%;

    font-size: 36px;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1440px) {
  .label {
    gap: 27px;
  }
}

.input {
  background-color: var(--white-color);
  color: var(--dark-gray);

  padding: 19px;
  border: none;
  outline: none;
  width: 100%;
  height: 52px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
}
@media screen and (min-width: 1440px) {
  .input {
    padding: 46px 58px;
    width: 500px;
    height: 117px;

    font-size: 18px;
  }
}
.button-submit {
  background: var(--black-color);
  color: var(--white-color);

  padding: 19px 14px;
  width: fit-content;
  height: 52px;

  display: flex;
  gap: 4px;
  align-items: center;

  transition: background-color, color, border, 0.3s ease,
    visibility 0s ease 0.3s;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
}

@media screen and (min-width: 1440px) {
  .button-submit {
    padding: 50px;
    gap: 47px;
    font-size: 14px;
    height: 117px;
  }
}

.button-submit:hover {
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  color: var(--black-color);
  transition: background-color, color, border, 0.3s ease,
    visibility 0s ease 0.3s;
}

.button-submit svg {
  width: 29px;
  height: 14px;
  fill: none;
  stroke: var(--white-color);
  transition: stroke 0.3s ease, visibility 0s ease 0.3s;
}
.button-submit:hover svg {
  stroke: var(--black-color);
  transition: stroke 0.3s ease, visibility 0s ease 0.3s;
}

/* footer */
.footer {
  background-color: var(--black-color);
  padding: 52px 0 46px 0;
}
.footer-logo {
  background: var(--gray-color);
  color: var(--black-color);

  display: block;

  width: fit-content;
  padding: 22px 76px;
  margin: 0 auto 51px auto;

  transition: box-shadow, 0.3s ease, visibility 0s ease 0.3s;
}

.footer-logo:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 var(--yellow-color);
  transition: box-shadow 0.3s ease, visibility 0s ease 0.3s;
}

@media screen and (min-width: 1440px) {
  .footer-logo {
    margin: 0 0 90px 0;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper-contact {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 144px;
  }
  .wrapper-contact div:nth-child(2) {
    margin-right: 83px;
  }
}

.footer-nav {
  margin: 0 auto 27px auto;
  width: fit-content;
}
@media screen and (min-width: 1440px) {
  .footer-nav {
    margin: 0;
  }
}

.subtitle-nav {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .subtitle-nav {
    font-size: 18px;

    text-align: start;
  }
}
.footer-list {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
@media screen and (min-width: 1440px) {
  .footer-list {
    align-items: self-start;
  }
}

.footer-item a {
  color: var(--white-color);

  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;

  text-align: center;
  display: block;
}
@media screen and (min-width: 1440px) {
  .footer-item a {
    font-size: 18px;
    text-align: start;
  }
}
.footer-contact {
  margin: 0 auto;
  width: fit-content;
}

@media screen and (min-width: 1440px) {
  .footer-contact {
    margin: 0;
  }
}

.footer-social-media {
  margin: 0 auto;
  width: fit-content;
}
@media screen and (min-width: 1440px) {
  .footer-social-media {
    margin: 0;
  }
}
.footer-list-contact {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 63px;
}
@media screen and (min-width: 1440px) {
  .footer-list-contact {
    margin-bottom: 0;  
    align-items: self-start;
  }
}
.footer-contact-item {
  display: flex !important;
  gap: 5px;
  align-items: center;
  justify-content: center;
 
}

@media screen and (min-width: 1440px) {
  .footer-contact-item {
    gap: 16px;
    justify-content: start;
  }
}
.footer-text {
  font-size: 12px;
  line-height: 1.22;
  text-align: center;
  margin-bottom: 18px;
}

@media screen and (min-width: 1440px) {
  .footer-text {
    font-size: 18px;
    margin-bottom: 0;
  }
}
.company {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  display: flex;
  justify-content: center;
}
.company a {
  color: var(--white-color);
}

@media screen and (min-width: 1440px) {
  .company {
    font-size: 18px;
  }
}

.logo-miranda {
  width: 23px;
  height: 19px;
  margin: 0 5px;
}

@media screen and (min-width: 1440px) {
  .logo-miranda {
    width: 31px;
    height: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper-text {
    display: flex;
    justify-content: space-between;
  }
}

/* burger-menu */
.burger-menu-modal {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  z-index: 10;
  background-color: #0000006c;
  transition: transform 0.3s ease, visibility 0s ease 0.3s;
}
@media screen and (min-width: 1440px) {
  .burger-menu-modal {
    display: none;
  }
}
.burger-container {
  padding: 20px 35px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: var(--gray-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  opacity: 1;
}
.open {
  transform: translateX(0%);
  transition: transform 0.3s ease, visibility 0s ease 0.3s;
}
.burger-list {
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.display {
  display: flex;
}

.close svg {
  width: 24px;
  height: 24px;
  display: flex;
  margin: 0 0 0 auto;
}
